<IfModule mod_rewrite.c>


RewriteEngine on
RewriteBase /crudplaylist
RewriteCond $1 !^(index\.php|assets|images|sounds|js|css|uploads|favicon.png)
RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^(.*)$ ./index.php/$1 [L]
</IfModule>
