body {
	height: 100%;
	width: 100%;
	

	background: conic-gradient(
		#a5db4e 90deg,
		#94d231 90deg 180deg,
		#a5db4e 180deg 270deg,
		#94d231 270deg
	);
	background-repeat: repeat;
	background-size: 60px 60px;

	animation: scrollBackground 4s linear infinite;
}

@keyframes scrollBackground {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -60px 60px;
	}
}

.lexend-mega {
  font-family: "Lexend Mega", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}
.lexend-mega-hi {
  font-family: "Lexend Mega", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}

.navbar{
	border: none;
	border-bottom: 3px solid black;
}

.shadowy{
	box-shadow:3px 3px 0 0 var(--bs-border-color);
}

/* animations */

.neo-brutal-icon::before{
	  transition: transform 0.3s ease-in-out;
}
.neo-brutal-icon::before:hover {
  transform: rotate(360deg);
}

.neo-brutal-window{
	transition: 
    transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1); 
}

.neo-brutal-window:hover {
  transform: translate(-5px, -5px);
  box-shadow: 16px 16px 0 #222; 
}


.center-table {
        margin-left: auto;
        margin-right: auto;
    }

table {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:15px;
	border-spacing: 0px;
	
	
}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
	
}



th {
	
	background-color: transparent !important;
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}

.nav-link:hover {
	color: white !important;
	transform: translate(-2px, -2px);

}

img:hover{
	transform: scale(1.1);
	rotate: -10deg;
}